:root {
    --color-primary: #8926a4;
    --color-secondary: #a855f7;
    --color-accent: #ec4899 ;
    --color-background: #ececec;
    --color-text: #757575;
}

/* more appealing color pallet 👍 🟦 */

/*:root {*/
/*    --color-primary: #3726a4;*/
/*    --color-secondary: #5558f7;*/
/*    --color-accent: #48b3ec;*/
/*    --color-background: #ececec;*/
/*    --color-text: #757575;*/
/*}*/